.topcontent
{
    color: white;
    
}
.topcontent_container{
    padding-left: 50px;
    letter-spacing: 1px;
    position: absolute;
    top: 250px;
    right :350px;
}
.works >button {
    color :white;
    border : 1px solid red ;
    background-color: transparent;
    border-radius: 2px;
    padding:5px  10px;
    letter-spacing: 1px;
    position: absolute;
    top: 325px;
    right :550px;
}
.works > button:hover
{
    color :white;
background-color: red;

}